p{
    font-size: 14px;
    padding: 0;
    margin: 5px;
    color: black;
}
td{

}

.p-datatable .p-datatable-tbody > tr > td {
    color: black;
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 1px;
    padding: 0.3rem 0.3rem;
    font-size: 13px;
}
.p-datatable .p-datatable-thead > tr > th{
    padding: 0.5rem 0.5rem;
}
.p-column-title{
    font-size: 14.5px;
}